@charset "utf-8";

#contenedor{
    margin: 0em;
}

#menu_iquierdo{
    float:left;
    background: red;
}

#menu_derecho{
    float:right;
    background: blue;
}

#cabecera{
    background: yellow;
    clear:left;
}

#pie_pagina{
    clear:left;
    background: orange;
}

#centro{
     /*float:left;*/
     background: purple;
}


/*
#genLayer {
    width: 1024px;
    margin: 0 auto;
	}

#topBanner {
	width:300px;
	height:120px;
	}
#cabecera {
    padding:10px;
    text-align: center;
	}
#piePaginaLogin {
    clear:both;
    padding:10px;
    text-align: center;
}
#menu_izquierdo {
    float:left;
    width:150px;
}
#rightMenuBar {
    float:left;
    width:150px;
}
#contenedor {
    float:left;
    width:724px;
    background:#ddf;
}
#contenedorLogin {
    width: 900px;
    margin: 0 auto;
	}	
#ladoIzquierdoLogin {
    float:left;
    width:450px;
    height: 160px;
    padding-top: 40px;
    padding-bottom: 20px;
    background:#bfb;
}
#ladoDerechoLogin {
    float:left;
    width:450px;
    height: 160px;
    padding-top: 40px;
    padding-bottom: 20px;
    background:#dff;
}
#leftSideReg {
    float:left;
    width:150px;
    padding-top: 20px;
    padding-bottom: 20px;
    background:#bfb;
}
.menu {
    float:left;
    width:750px;
    padding-top: 20px;
    padding-bottom: 20px;
    background:#dff;
}*/