@charset "utf-8";
body {
	background-color: #D6D9E4;
	}
a:link{ 
	color: red; text-decoration: none;
	}
a:active{ 
	color: red; text-decoration: none;
	}
a:visited{ 
	color: red; text-decoration: none;
	}
a:hover{ 
	color: red; text-decoration: none;
	}
.under {
	text-decoration: underline;
}
.left {
	text-align: left;
}