@body-background-color: #666;
@body-color-color: #fff;
@tam-pag:1024em;
@tam-contenido:1020em;
@contenido-color:#566;

body{
	//background: @body-background-color;
	//color:@body-color-color;
}

#envoltorio1{
	width:100%;
	height: 100%;
	background: white;
	margin: 0 auto;	
}

#envoltorio2{
	width:95%;
	text-align: left;
	background: blue;
	margin: 0 auto;	
}

