//Estos css se aplican a toda la página web. Todos los layouts. 
@color-basico-pagina:#597f08;

html, body {
	height: 100%;
}
body{
	background: white;
	margin: 0;
	padding: 0px;
	font:small Verdana, Arial;
	color:black;
	text-align: center;
}

h1, h2, h3, ul, li, form{
	margin:0;
	padding:0;
}

ul, li{
list-style: none;
}

a {
	text-decoration: none;
	color: @color-basico-pagina;
}
a:visited{
	color: @color-basico-pagina;
}

table{
		margin: 0 auto;
	}
