//En este .css se guardan los estilos que se van a aplicar a todas las páginas 
@charset 'utf-8';

@import 'priv/input';

// ------------
.background-size (@size) { 
  -webkit-background-size: @size;
  -moz-background-size: @size;
  -o-background-size: @size;
  background-size: @size;
}

* {
	outline: 0;
}

html, body {
	height: 100%;
}

body{
	background: white;

	margin: 0;
	padding: 0;

	font-size: small;
	font-family: Verdana, sans;
	color: black;
}

.bg-estadio-fuera {
	background-image: url('images/fondos/estadio_fuera.jpg');
	background-attachment: fixed;
	background-position: center center;
	.background-size(cover);
}

.bg-estadio-dentro {
	background-image: url('images/fondos/estadio_dentro.jpg');
	background-attachment: fixed;
	background-position: bottom center;
	.background-size(cover);
}

h1, h2, h3, ul, li, form{
	margin: 0;
	padding: 0;
}

ul, li{
	list-style: none;
}

a {
	text-decoration: none;
	color: @VERDE_12;
}

a:visited{
	color: @VERDE_12;
}

table {
	margin: 0 auto;
}

.clear{
	clear: both;
}
