//Layout que se usa en todas las páginas
@charset 'utf-8';

@import 'priv/imports';

@import 'priv/barrasup';

// MIXINS
// ------------
.propiedades_basicas(){
    background: transparent;
    margin: 1em 1em 1em 1em;
    border: 0px white;
}

.top-block {
    padding: @TopBlockPadding;
    margin: @TopBlockMargin;

    border: @TopBlockBorder solid @TopBlockBorderColor;
    .rounded(10px);
    background: fade(white, 80%);
}

// Envoltorio
#envoltorio-main {
    margin: 0 auto;
    padding: 0;

    padding-top: @BarraSupAlto;

    width: 960px;
    min-height: 100%;
	height: auto !important;
	height: 100%;

    background-color: fade(white, 50%);
    .box-shadow(0 0 32px white);

    #clasificacion {
    	width: 960px - (@TopBlockExtras);

    	text-align: center;

        .clasif-item {
            display: inline;
            list-style: none;

            margin: 0 12px;
            padding: 0;

            .opacity(.7);

        	.clasif-posicion, .clasif-hash {
                position: relative;
                top: -6px;

        		font-style: italic;
        		font-size: 28px;
        		font-weight: bold;
        		font-family: Georgia, serif;
        		color: fade(darken(@VERDE_12, 10%), 70%);
        	}

        	.clasif-hash {
        		font-size: 20px;
        		color: fade(darken(@VERDE_12, 10%), 40%);
        	}

        	&:hover {
        		.opacity(1);
        	}
        }

        .clasif-mi-equipo {
            border-bottom: 2px solid @VERDE_12_CLARO;
            margin-bottom: -2px;
        }
    }

	// CENTRO DE LA PAGINA
    // -----------------------

	//Incluye el div del contenido 
	#grupo-centro{
		width: @ContentWidth;
		float: left;
		margin: 0;

		#contenido{
		 	text-align: center;
		}
	}

}



//PIE DE PAGINA

#pie-pagina {
	position: relative;
	width: 100%;
	margin: 0 auto;
	background: transparent;
	clear: both;
}

#pie-pagina{
	left: 0;
	bottom: 4px;
	width: 100%;
	padding: 0;
	color: black;
	font: 0.8em helvetica,arial,sans-serif;
	text-align: center;
}

#pie-pagina a {
	color: black;
	text-decoration: none;
}

#menu-izquierdo{
    width: @MenuWidth;
    float:left;

    margin-top: 0;
    padding: 0;

    .menu-item {
        padding: 5px 8px;

        border: 0 solid @TopBlockBorderColor;
        border-width: 1px 0 0 0;

        .nombre-menu{
            font-weight:bold;
            float: right;
            margin: 0.4em 0;
        }

        .icono-menu{
            width:24px;
            height:24px;
        }

        &:hover {
            background-color: (@VERDE_12_CLARO+#333);
        }
    }

    .menu-item-first {
        border-width: 0;
        .border-radius(10px, 0, 0, 10px);
    }

    .menu-item-last {
        .border-radius(0, 10px, 10px, 0);
    }
}