//Layout que se usa en todas las páginas

// COLORES
// ------------
@BLANCO_ROTO: #FFFCFB;
@GRIS: #CED5DE;
@GRIS_OSCURO: #A0A6AD;
@VERDE_12: #597f08;

// MIXINS
// ------------
.propiedades_basicas(){
    background: transparent;
    margin: 1em 1em 1em 1em;
    border: 0px white;
}

// Envoltorio
#envoltorio-main {
	min-height: 100%;

	clear: both;

    margin: @BarraSupAlto auto 0;
    padding: 0;

    width: 960px;

	// Cabecera
	#cabecera {
		float: left;

		width: 960px;
		margin: 0;

        div#clasificacion {
            .propiedades_basicas();
            li {
                display: inline;
                list-style-type: none;
                margin: 0em 1.5em 0em 2em;
                img.escudos-clasificacion{
                	width: 50px; 
                	height: 50px; 
                }  
            }
        }					
    }

	// CENTRO DE LA PAGINA
    // -----------------------

	//Menu izquierdo (menu principal navegacion Perfil, aficion etc)
	#menu-izquierdo{
		width: 17%;
		float:left;
	}//#menu-izquierdo

	//Incluye el div del contenido 
	#grupo-centro{
		width:80%;
		float:left;
		margin: 1em 0em 0em 1em;

		#contenido{
		 	text-align: center;
		}//#contenido
	}//#grupo-derecha

}//#envoltorio1



//PIE DE PAGINA

#pie-pagina {
	position: relative;
	width: 100%;
	margin: 0 auto;
	background: transparent;
	clear: both;
}

#pie-pagina{
	left: 0;
	bottom: 4px;
	width: 100%;
	padding: 0;
	color: black;
	font: 0.8em helvetica,arial,sans-serif;
	text-align: center;
}

#pie-pagina a {
	color: black;
	text-decoration: none;
}

