//ENVOLTORIOS
#envoltorio1{
	width:100%;
	height: 100%;
	background: white;
	margin: 0 auto;	
}

#envoltorio2{
	width:95%;
	text-align: left;
	background: white;
	margin: 0 auto;	
}

//CABECERA
#cabecera {
	background: white;
	float: left;
	width:100%
}

#logo {
	background: transparent;
	float: left;
	margin: 1em 1em 1em 1em;
	border: 0px white;
}

#titulo-jugador {
	background: transparent;
	float: left;
	margin: 1em 1em 1em 1em;
	border: 0px white;
	padding: 15px 0px 0px 0px;

}

//PIE DE PAGINA
#pie-pagina {
	height:150px; 
	background-color:white; 
	clear:both;
	display:block;
	overflow:auto;
	float:left: ;
	text-align: center;
}

//CENTRO DE LA PAGINA

//Menu izquierdo (menu principal navegacion Perfil, aficion etc)
#menu-izquierdo{
	 width:15%; 
	 height: 20,5em;
	 float:left; 
	 position:relative; 

}

//Incluye el div del contenido y el menu derecho(menu de cuenta)
#grupo-derecha{
	width:85%;
	background: white;
	float:right;

}

//Menu derecho (cuenta)
#menu-derecho{
	width:13%;
	float:right;

}

#contenido{
	background-color: red;  
 	float:left;
 	width:87%;
 	text-align: center;
}


#contenido table{
 	float:center;
}

