@color-fondo:#597f08;
//Css comun a los dos menus del layout principal(main)
#cssmenu{
	background: @color-fondo;
	text-align: center;
	margin:0 auto;
	border: 0px;

}

#cssmenu li{
	 padding:1em 1em 1em 1em;
	 text-decoration: none;
	 font-size: 97%;
	 color:white;
	 background: none;
}

#cssmenu a{
	
}

#cssmenu a:link{	
	 text-decoration: none;
	 text-transform: uppercase;
	 color:white;

}

#cssmenu a:visited{	
	 text-decoration: none;
	 text-transform: uppercase;
	 color:white;
}

#cssmenu a:hover{	
	 text-decoration: none;
	 text-transform: uppercase;
	 color:red;
}

#cssmenu a:active{
	 text-decoration: none;
	 text-transform: uppercase;
}

