@color-fondo:#597f08;
//Css comun a los dos menus del layout principal (mainLayout)
#cssmenu{
	text-align: center;
	margin:0 auto;
}

#cssmenu li{
	margin: 1em 0;
	padding: 1em 1em;
	border-color: black;
   	border-width: 0.3em;
   	border-style: solid;
   	border-radius: 1em;
	text-decoration: none;
	font-size: 97%;
	color:black;
	background: none;

	div.nombre-menu{
		font-weight:bold;
		float:right;
		margin: 1em 0;
	}
}

#cssmenu a{
	
}

#cssmenu a:link{	
	 text-decoration: none;
	 text-transform: uppercase;
	 color:black;
	 text-align: left;

}

#cssmenu li:hover{
	background-color: green;
}