@import 'priv/imports';

#contenido 
{
	//@DrawingWidth: (@ContentWidth - @InnerBlockMargin) * 4 / 7 - @InnerBlockPadding*2 - @InnerBlockBorder*2;
	//@ScoreboardWidth: (@ContentWidth - @InnerBlockMargin) * 3 / 7 - @InnerBlockPadding*2 - @InnerBlockBorder*2;

	@DrawingWidth: 360px;
	@ScoreboardWidth: @ContentWidth - @DrawingWidth - @InnerBlockMargin - @InnerBlockPadding*4 - @InnerBlockBorder*4;
	@ScoreboardTeamWidth: (@ScoreboardWidth - @InnerBlockPadding) / 2 - 2;

	#partido-dibujo {
		float: left;
		width: @DrawingWidth;
		height: 240px;
		margin-bottom: @InnerBlockMargin;
	}

	#partido-marcador {
		float: right;
		width: @ScoreboardWidth;
		margin-bottom: @InnerBlockMargin;
		height: 240px;

		#partido-marcador-general {
			width: @ScoreboardWidth;
			position: absolute;
		}

		#partido-goles {
			position: absolute;
			width: 100%;

			top: 56px;

			text-align: center;
			font-size: 48px;
			font-family: Impact, Charcoal, sans-serif;

			color: darken(@VERDE_12+#222, 10%);
		}

		#partido-tiempo {
			text-align: center;
			font-size: 32px;
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			font-weight: bold;
		}

		#partido-tiempo-turno {
			text-align: center;
			font-size: 16px;
			font-family: "Trebuchet MS", Helvetica, sans-serif;
		}

		#partido-equipo-local {
			float: left;
			width: @ScoreboardTeamWidth;

			text-align: left;

			.equipo-nivel {
				float: left;
			}
		}

		#partido-equipo-visit {
			float: right;
			width: @ScoreboardTeamWidth;

			text-align: right;

			.equipo-nivel {
				float: right;
			}
		}

		#partido-turnos {
			@TurnoSize: 16px;

			width: (@TurnoSize*11 + 12px);
			margin: 0 auto;

			.turno {
				float: left;

				padding: 0;
				padding-right: 1px;
				margin: 0;

				width: (@TurnoSize - 1px);
				height: @TurnoSize;

				font-size: 10px;
				//font-weight: bold;
				font-family: sans-serif;
				text-align: center;
				line-height: @TurnoSize;

				border: 1px solid (lighten(@VERDE_12, 10%) - #333);
			}

			.turno-pre {
				border-right-width: 0;
			}

			.turno-post {
				border-left-width: 0;
			}

			.turno-anterior {
				background-color: (@VERDE_12_CLARO + #222);
			}
			.turno-actual {
				background-color: (@VERDE_12_CLARO - #111);
				color: white;
				font-weight: bold;
			}
			.turno-siguiente {
				background-color: (@VERDE_12_CLARO + #555);
			}
		}

		.equipo-info {
			margin: 8px 0;
		}

		.equipo-nombre {
			font-family: Verdana, sans-serif;
			font-size: 28px;
			font-weight: bold;
			margin-top: 0;
		}

		.equipo-nivel {
			position: relative;
			top: -20px;

			width: 16px;
			background: (@VERDE_12_CLARO + #242);
			border: 1px solid (@VERDE_12 + #131);
			color: (@VERDE_12 - #212);
			.box-shadow(0 0 6px -1px);

			margin: 0 4px;
			padding: 2px 4px;
			.rounded(3px);

			font-size: 10px;
			font-weight: bold;
			text-align: center;
		}

		#barra-aforo {
			position: relative;
			top: -10px;
			width: @ScoreboardWidth;
			box-sizing: border-box;

			background-color: #EEE;
			border-color: #555;

			text-align: center;
			font-size: 11px;
			font-weight: bold;

			#barra-aforo-local {
				position: absolute;
				border-style: solid;
				border-width: 0;
				border-right-width: 1px;
				top: 0;
				left: 0;
				height: 100%;
				text-align: left;
				padding-left: 5px;
				.border-radius(0, 0, 3px, 3px);
			}

			#barra-aforo-visit {
				position: absolute;
				border-style: solid;
				border-width: 0;
				border-left-width: 1px;
				top: 0;
				right: 0;
				height: 100%;
				text-align: right;
				padding-right: 5px;
				.border-radius(3px, 3px, 0, 0);
			}	
			.mini {
				font-size: 9px;
				font-style: italic;
				font-weight: normal;
			}

			.barra-aforo {
				color: black;
				font-weight: normal;
			}

			/* FIXME COLORS */
			.barra-rojos  {border-color: #D00; background-color: #F88;}
			.barra-negros {border-color: #666; background-color: #AAA;}
		}

		#datos-morales {top: -6px;}
		#datos-ofensivos {top: 26px;}
		#datos-defensivos {top: 58px;}

		.barra-datos-cont {
			position: relative;

			.datos-title {
				position: absolute;
				width: 100%;
				text-align: center;
				font-size: 11px;
				font-weight: bold;
			}

			.datos-num-local {
				position: absolute;
				width: 100%;
				text-align: left;
				font-size: 11px;
				font-weight: bold;
			}

			.datos-num-visit {
				position: absolute;
				width: 100%;
				text-align: right;
				font-size: 11px;
				font-weight: bold;
			}

			.datos-barra-local, .datos-barra-visit {
				.transition-duration(500ms);

				position: absolute;
				top: 14px;

				height: 12px;
				border: 1px solid white;
			}

			.datos-barra-local {
				left: 0;
			}

			.datos-barra-visit {
				right: 0;
			}
		}

		.textcolor-amarillos {color: #FFD700;}
		.textcolor-azules {color: #03F;}
		.textcolor-morados {color:#8A2BE2;}
		.textcolor-naranjas{color:#FF4500;}
		.textcolor-negros {color: #666;}
		.textcolor-rojos {color: #F00;}
		.textcolor-rosas {color: #EB6083;}
		.textcolor-verdes {color: #32CD32;}

		.bgcolor-amarillos {background-color: #FFD700;}
		.bgcolor-azules {background-color: #03F;}
		.bgcolor-morados {background-color:#8A2BE2;}
		.bgcolor-naranjas{background-color:#FF4500;}
		.bgcolor-negros {background-color: #666;}
		.bgcolor-rojos {background-color: #F00;}
		.bgcolor-rosas {background-color: #EB6083;}
		.bgcolor-verdes {background-color: #32CD32;}
	}

	#partido-info {
		clear: both;
		margin-top: @InnerBlockPadding;
		padding: 4px;

		background: white;

		.partido-info-content {
			height: 420px;
			overflow: auto;
		}

		#tabs-mensaje {
			float: right;
			border: 1px solid fade(white, 80%);
			height: 19px;
			line-height: 19px;
			margin: 1px 1px;
			padding: 0 4px;
			background-color: fade(white, 90%);
			.rounded(3px);
			font-size: 12px;
			opacity: 0;

			.transition-duration(200s);
		}

		#partido-info-tabs {
			margin: -2px;
			margin-bottom: 4px;

			padding: 1px 2px 0;

			border: 1px solid (@VERDE_12_CLARO - #111);
			.rounded(4px);

			.gradient(@VERDE_12_CLARO, @VERDE_12_CLARO+#111, @VERDE_12_CLARO+#222);

			font-family: sans-serif;
			font-size: 12px;
			font-weight: bold;

			li {
				margin: 0 2px 0 0;
				padding: 0;

				border: 1px solid (@VERDE_12_CLARO/* - #222*/);
				color: fade(@VERDE_12, 70%);

				.transition-duration(100ms);

				a {
					padding: 5px 12px 3px;
					color: inherit;
					font-weight: bold;
				}
			}

			.ui-state-default {
				border-color: @VERDE_12_CLARO - #222;
				background: fade(@VERDE_12, 50%);
				color: fade(white, 80%);
				text-shadow: 0 0 1px fade(black, 75%);
			}

			.highlight {
				.transition(1s, linear);
			}

			.highlight-high {
				border-color: @VERDE_12_CLARO - #555;
				background: fade(@VERDE_12, 80%);
				color: fade(white, 95%);
				text-shadow: 0 0 1px fade(black, 90%);
				.box-shadow(0 0 5px 2px white);
			}

			.highlight-low {
				border-color: @VERDE_12_CLARO - #444;
				background: fade(@VERDE_12, 60%);
				color: fade(white, 85%);
				text-shadow: 0 0 1px fade(black, 80%);
				.box-shadow(0 0 2px 0 fade(white, 50%));
			}

			.ui-state-hover {
				border-color: @VERDE_12;
				background: fade(@VERDE_12, 85%);
				color: fade(white, 95%);
				text-shadow: 0 0 1px fade(black, 75%);
			}

			.ui-tabs-selected {
				background: white;
				color: @VERDE_12;
				text-shadow: none;
			}
		}

		.ui-tabs-panel {
			padding: 0;
			margin: -2px;
		}

		#partido-info-campo {
			// Necesita un cambio pero bueno
			width: 734px;
			height: 458px;

			background: url('../images/fondos/partido_campo_med.jpg');
			background-size: 100%;
			.rounded(@InnerBlockRadius);


			#js-campo {
				position: absolute;
				width: inherit;
				height: inherit;
			}

			.js-marca-visit, .js-marca-local {
				position: absolute;

				height: 28px;
				width: 28px;
			}

			.js-marca-local {
				background: url('../images/iconos/icono_circulo.png');

			}

			.js-marca-visit {
				background: url('../images/iconos/icono_cruz.png');
			}

		}

		#partido-info-datos {
			&, * {box-sizing: border-box;}

			.datos-titulo {
				width: (732px/2);
				.gradient(@VERDE_12_CLARO, @VERDE_12_CLARO+#111, @VERDE_12_CLARO+#222);
				font-weight: bold;
				border-color: (@VERDE_12_CLARO - #111);
				.mini {
					font-size: 9px;
					font-style: italic;
					font-weight: normal;
				}
			}

			#datos-titulo-local {
				float: left;
				text-align: left;
			}

			#datos-titulo-visit {
				float: right;
				text-align: right;
			}
		}

		#partido-info-chat {
			.posts {
				margin: 0;
				width: auto;
				height: 381px;
				.rounded(4px);
				border: 1px solid @VERDE_12_CLARO;

				.post {
					.rounded(3px);

					padding: 0 4px 1px;
					margin: 0 0 2px 0;

					font-size: 11px;
					border-width: 0;
					background: none;

					background: lighten(@VERDE_12_CLARO + #333, 10%);

					.track {
						padding: 0;
						margin: 0;
						margin-right: 12px;

						float: left;

						.owner {
							padding: 0;
							margin: 0;

							font-weight: bold;
							color: black;
						}

						.time {
							padding: 0;
							margin: 0;
							margin-right: 12px;

							font-size: 8px;
							color: black;
						}
					}

					.text {
						margin: 0;
						padding: 0;

						float: left;
					}
				}

				.yiichat-post-myown {
					background: (@VERDE_12_CLARO + #191919);
				}
			}

			.you {
				text-align: right;
				width: 100%;

				#yiichat-message {
					display: inline;
					width: 500px;
					margin-right: 8px;
				}
				#yiichat-send {
					display: inline;
					font-size: 12px;
					width: 80px;
				}

				.error {
					background: lighten(red, 40%);
					border-color: lighten(red, 10%);
				}
			}
		}

		#partido-info-acciones {
			margin: -3px;
			padding: 0;

			.accion {
				.transition-duration(300ms);

				float: left;
				width: 168px;

				margin: 1px;
				padding: 4px;

				border: 1px solid @InnerBlockBorderColor;
				.rounded(6px);

				.gradient(@VERDE_12_CLARO+#333, @VERDE_12_CLARO+#222, @VERDE_12_CLARO+#444);

				&:hover {
					cursor: pointer;
					border-color: @InnerBlockBorderColor - #222;

					.gradient(@VERDE_12_CLARO+#444, @VERDE_12_CLARO+#333, @VERDE_12_CLARO+#666);
				};

				&.disabled {
					border-color: #333;
					.gradient(#AAA, #999, #CCC);

					.opacity(0.5);
				}

				.cooldown {
					position: relative;
					height: 0;
					width: 64px;

					left: 104px;
					top: -14px;

					font-size: 12px;
					font-weight: bold;
					text-align: right;
				}

				.accion-nombre {
					height: 2.5em;
					font-size: 12px;
					font-weight: bold;
				}

				.accion-icono {
					margin: 0;
					padding: 0;
					float: left;
					display: block;
				}

				.accion-recursos {
					float: left;
					height: 24px;

					.accion-recurso {
						clear: both;
						padding-top: 4px;
						margin-left: 8px;
					}

					.icon {
						float: left;
						width: 24px;
						height: 24px;
						margin-right: 6px;

						img {
							width: 24px;
							height: 24px;
						}
					}

					.cant {
						float: left;
						font-size: 11px;
						height: 24px;
						line-height: 24px;
					}
				}
			}
		}
	}
}

.barra {
	.rounded(4px);
	border: 1px solid @VERDE_12_CLARO;
	height: 16px;
	line-height: 15px;
	font-size: 12px;
	padding: 0 5px;
	margin-bottom: 2px;
}