@charset 'utf-8';

@import 'priv/imports';

@import 'priv/input';


//Estilo participar accion
.barra-global{
	width: 320px;
	margin: 0 auto;
	p{
		text-align: center;
		font-weight:bold;
	}
	margin-bottom: 10px;
}

.tabla-izq{
	float:left;
	margin-left: 50px;
	border-spacing:10px 10px;
	height: 170px;
}

.tabla-dcha{
	float:right: ;
	margin-right: 50px;
	border-spacing:10px 10px;
	height: 170px;
}

#tabla-acciones {
	padding-top: 20px;
	width: 90%;
	border-collapse: collapse;
	border: 1px solid #98bf21;

	th{		
		background-color: #A7C942;
		color: #fff;
		border: 1px solid #98bf21;
		padding-top: 5px;
		padding-bottom: 4px;		
	}
	td{
		background-color: @VERDE_12_BLANCO;
		border: 1px solid #98bf21;
		height: 40px;
	}
}

//Fin estilo participar accion
