@import 'priv/imports';


#ayuda-menu { 
	  width: 150px; 
	  height: 150px; 
	  padding: 0.5em; 
	  z-index:10; 
	  position: absolute;
	  left: 10em;
	  top: 10em;
	  ul {
	  	margin: 10px 0px; 
	  }
	  li {
	  	margin: 10px 0px;
	  }
	  a {
	  	margin: 10px 0px;
	  }
}


.cuadro-ayuda { 
	  width: 1000px; 
	  height: 550px; 
	  padding: 0.5em; 
	  z-index:10; 
	  position: absolute;
	  left: 300px;
	  top: 9.5em;
	  background-color: @BLANCO_ROTO;
	  overflow: auto;

}

#ayuda-personajes { 
	  background-color: @BLANCO_ROTO;

}

#ayuda-habilidades { 
	  background-color: @BLANCO_ROTO;

}


#ayuda-partido { 
	  background-color: @BLANCO_ROTO;
}

.imagenes-ayuda { 
	padding: 5px;
	float: left; 

}