//registro/equipo


//Vista elegir equipo

div.envoltorio-elegir-equipo{
	float: right;
	right: 50%;
	position: relative;
}

div.contenido-elegir-equipo{
	background-color: rgba(0,0,0,0.5);
	border-radius: 20px;
	padding: 2em;
	float: right;
	right: -50%;
	position: relative;
	margin-top: 100px;

	h3{
		text-align: center;
		color: white;
		font-size: 1.5em;
		padding: 10px;
	}

	td{
		padding: 5px;
	}
}

div.elegir-equipo{
	padding-bottom: 2em;
	input.escudos{ 
		height: 7em; 
		padding: 0.5em;
    }
    input.escudo-seleccion{
    	height: 8em; 
		padding: 1em;
		border-color: orange;
		border-width: 3px;
    }
    table{
    	border: 0.3em solid;
    	border-color: rgba(0,0,0,0.7);
    	border-collapse: collapse;
    }
    td{
    	color:white;
    }
}

div.descripcion{
	color: white;
	font-size: 1.3em;
	padding: 0.5em;
	text-align: center;
}


//Vista elegir personaje
div.elegir-personaje{
	img.personaje{
		width: 10em;
		height: 10em;
	}
	
}



