// registro/index

.envoltorio-registro {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
	background-color: white;
	background-image: url("/yii/JugadorNum12/less/imagenes/login/fondo-login.jpg");
	background-size: cover;
	width:100%;

	text-shadow:2px 2px 2px black;
}
.envoltorio2-registro {
	background-color: transparent;
	width:50%;
	margin: 0 auto;	
}
//PIE DE PÁGINA 
* {
	margin: 0; //Importante para que el pie de pagina se vea abajo siempre
}

//dejar la palabra footer
.footer, .push {
	height: 142px; /* Esto es lo que hace que el pie de pagina permanezca abajo de la pagina*/
}

.pie-pagina-registro {
	position: relative;
	width: 100%;
	margin: 0 auto;
	background: transparent;
}

.pie-pagina-registro {
	position: absolute;
	left: 0;
	bottom: 4px;
	width: 100%;
	padding: 0;
	color: white;
	font: 0.8em helvetica,arial,sans-serif;
	text-align: center;
}

.pie-pagina-registro a {
	color: white;
	text-decoration: none;
}

#entrada-registro {
	width:80%;
	background-color: transparent;
	padding-top: 5em;
    padding-bottom: 0em;
    color:white;
    font-size: 1.5em;
    font-weight: bold;
}

.envoltorio-contenido-registro{
	h3{
		text-align: center;
	}
}

//Vista elegir equipo
div.elegir-equipo{
	img.escudos{
		width: 5em; 
		height: 5em; 
    }
    table{
    	border: 0.3em solid black;
    	border-collapse: collapse;
		float:right;
		padding-top: 5em;
		text-align: right;
    }
}

div.descripcion{
	float: left;
	padding-top: 5em;
	text-align: left;
}

//Vista elegir personaje
div.elegir-personaje{
	img.personaje{
		width: 10em;
		height: 10em;
	}
	
}

