//registro/equipo

.envoltorio-equipo{
	background-color: white;
	background-image: url("/yii/JugadorNum12/less/imagenes/login/fondo-login.jpg");

	div.elegir-equipo{
		img.escudos{
			width: 50px; 
			height: 50px; 
	    }
	}
}



