div.envoltorio-equipos{
	background-color: white;
	width:100%;
	color:black;


	div.envoltorio2-equipos{
		background-color: orange;
		width:100%;

		div.equipos-arriba{
			width: 100%;
			background-color: red;
			float:left;

			div.equipos-escudo{
			width: 205px;
			float:left;
			background-color: yellow;

			}//.equipos-escudo

			div.equipos-informacion{
				float:left;
				background-color: green;
				width: 50%;

				table{
					text-align: right;
				}

			}//.equipos-informacion
		}//.equipos-arriba

		div.equipos-acciones-grupales{
			background-color: blue;
			width: 100%;
		}

	}//.envoltorio-equipos
}//.envoltorio-equipos