div#envoltorio-asistir{ //Envoltorio Principal
	width: 100%;
	margin: 0 auto;
	background-color: red;
	margin-bottom: 1em; 

	div#renderizado-parcial{ //Envoltorio del renderizado parcial
		width: 100%;
		height: 40em;

		div#envoltorio_estadoPartido{ //Envoltorio princi de la vista renderizada
			width: 100%;
			height: 40em;

			div#seccion1{
				height: 25em;
				overflow: auto;
				background-color: grey;
			}//end seccion1

			div#seccion2{
				height: 2em;
				overflow: auto;
				background-color: maroon;
			}//end seccion2

			div#seccion3{
				height: 3em;
				overflow: auto;
				background-color: yellow;
			}//end seccion 3

			div#seccion4{
				height: 10em;
				overflow: auto;
				text-align: left;
				background-color: pink;
			}//end seccion 4

		} // end envoltorio_estadoPartido

	}//end renderizado-parcial

	div#seccion5{ //Seccion en la que se encuentran las habilidades del partido
		height: 12em;
		overflow: auto;
		background-color: green;
	}// end seccion5


}//end envoltorio-asistir






